$bcg-color: radial-gradient(circle, rgb(59, 62, 69) 0%, rgb(34, 27, 27) 93%);
$bar-color: rgb(106, 213, 142);
$quiz-page-color: #0cbaba;
$quiz-bcg-color: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
$btn-color: rgb(41, 179, 184);
$easy-btn-color: rgb(58, 159, 24);
$hard-btn-color: rgb(175, 29, 24);
$border-btn-color: rgb(140, 140, 140);
