$bcg-color: radial-gradient(circle, rgb(43, 44, 46) 0%, rgb(25, 25, 25) 93%);
$bar-color: rgb(106, 213, 142);
$quiz-page-color: #0cbaba;
$quiz-bcg-color: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
$btn-color: rgb(41, 179, 184);
