@use '../utilities/colors' as *;

.quiz {
	&__buttons {
		display: flex;
		justify-content: space-between;
		width: 50%;
		&-btn {
			position: relative;
			width: 140px;
			height: 70px;
			border: none;
			background: none;
			outline: none;
			cursor: pointer;
		}
		&-bottom,
		&-top {
			width: 100%;
			height: 100%;
			outline: 2px solid rgb(36, 38, 34);
		}
		&-top {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0;
			left: 0;
			font-size: 2rem;
			border-radius: 50%;
			z-index: 1;
			text-transform: uppercase;
			&--easy {
				background: $easy-btn-color;
			}
			&--hard {
				background: $hard-btn-color;
			}
			transition: transform 0.3s;
		}
		&-bottom {
			position: absolute;
			top: 50&;
			height: 80%;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;
			z-index: 0;
			&--easy {
				background: rgb(34, 107, 9);
			}
			&--hard {
				background: rgb(129, 16, 12);
			}
			transition: opacity 0.3s;
		}
		&-btn::before {
			position: absolute;
			content: '';
			left: calc(100% - 115%);
			top: 55%;
			width: 130%;
			height: 100%;
			border-radius: 50%;
			background: $border-btn-color;
			z-index: 0;
			outline: 2px solid rgb(36, 38, 34);
		}
		.choosen {
			transform: translateY(35%);
		}
	}
}
.progress-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3em;
	width: 600px;

	&--hard,
	&--easy {
		display: none;
	}
}
.progress-box::before,
.progress-bar {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4px;
	background-color: #ddd;
	z-index: -1;
}
.progress-box::before {
	content: '';
	width: 100%;
	background-color: #ddd;
}
.progress-bar {
	width: 0%;
	background-color: $bar-color;
	transition: width 0.3s;
}

.step {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	color: #333;
	background-color: #fff;
}
.active-step {
	background-color: #fff;
	animation: showStep 0.8s forwards;
}

@keyframes showStep {
	from {
		background-color: #fff;
	}
	to {
		background-color: $bar-color;
		box-shadow: 0 0 10px $bar-color;
	}
}

.quiz {
	.quest {
		padding: 1em;
		justify-content: flex-start;
		img {
			width: 65%;
			margin-bottom: 0.5em;
			border: 8px solid transparent;
			border-image: linear-gradient(to right, #3b3faf, #973bb8) 50;
			border-image-slice: 1;
		}
		h3 {
			text-transform: uppercase;
			margin-top: 0.5em;
		}
	}
	:nth-child(5),
	:nth-child(8),
	:nth-child(11) {
		img {
			width: 60%;
		}
	}
	:nth-child(6) {
		img {
			width: 63%;
		}
	}

	&__slider {
		width: 40%;
		display: flex;
		input {
			accent-color: $bar-color;
			margin-right: 0.5em;
			width: 100%;
			pointer-events: none;
		}
		p {
			width: 50px;
			text-align: center;
		}
	}
	&__answers {
		width: 100%;
		margin-top: 0.5em;
		table {
			width: 100%;
			border-spacing: 10px;
		}
		td {
			text-transform: uppercase;
			border-radius: 5px;
			width: 50%;
			padding: 0.5em;
			color: black;
			background-color: rgb(211, 209, 209);
			cursor: pointer;
			transition: background-color 0.3s;
		}
		td:hover {
			background-color: rgb(188, 183, 183);
		}
	}
}

.active-box {
	display: flex;
}
